<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Wrap the parsed URDF in a macro -->
  <xacro:macro name="ur10e_model" params="">
    <!-- adjust filename if yours differs -->
    <xacro:include filename="$(find robotgripper)/urdf/urtene_parsed.urdf"/>
  </xacro:macro>
</robot>
